/*
    Stylesheet: discretopia.css
    Author: John C. Uysal
    Description: This stylesheet is used by every page on Discretopia.

    Sections:
    - GENERAL
    - BODY
        - MAIN
            - ASIDE
                - LOGO CONTAINER
                - SIDEBAR BLOCKS
            - CONTENT CONTAINER
                - TOP NAVIGATION
                    - LINK MENU
                    - SEARCH
                - CONTENT
                    - ENTRY NAVIGATION
                    - LIST OF CONTENTS
                    - MATH BLOCKS
                    - TABLES
                    - CODE BLOCKS
                    - ENTRY NAVBOX CONTAINER
                    - HOMEPAGE BLOCKS
                    - JOURNAL BLOCKS
        - FOOTER
    - MOBILE
    - UTILITIES
    - TYPOGRAPHY
    - VARIABLES

    Jump from section to section by searching "||".
*/

/* || GENERAL */

* { /* all elements */
    box-sizing: border-box; /* include padding and border as part of width and height to avoid unexpected resizing */
}

html { /* root element */
    /* for mobile devices */
    overflow-x: hidden; /* hides horizontal overflow to prevent swiping left and right away from the page */
    -webkit-text-size-adjust: 100%; /* maintains font size in landscape and portrait mode, still allows zoom in/out */
}

h1 { /* heading used for page titles */
    font-size: var(--h1-font-size);
}

h2 { /* section heading used to dynamically generate #list-of-contents */
    font-size: var(--h2-font-size);
}

h3 { /* rarely-used section heading for sections within sections */
    font-size: var(--h3-font-size);
}

p, ul, ol { /* block of text */
    color: var(--secondary-color);
    font-size: var(--normal-font-size);
    line-height: var(--golden-ratio);
}

h1, h2, h3, p, ul, ol {
    margin: var(--normal-font-size) 0 var(--normal-font-size) 0;
}

a { /* hyperlink */
    color: var(--hyperlink-color);
    text-decoration: none;
}

a:hover { /* styles applied to hyperlinks when hovered over */
    text-decoration: underline;
}

hr { /* thematic break between text */
    border: 0;
    height: 4px;
    background: linear-gradient(to right, var(--logo-color), var(--hyperlink-color), var(--invisible-color));
    border-radius: var(--standard-radius);
    width: 100%;
}

figure { /* contains an img and a figcaption */
    display: flex;
    flex-direction: column;
    margin: 8px;
    max-width: 256px;
    border: 1px solid var(--hyperlink-color);
}

img { /* embedded image */
    border-bottom: 0;
}

figcaption { /* caption describing the contents of its parent figure element */
    color: var(--primary-color);
    line-height: var(--golden-ratio);
    padding: 8px;
    background-color: var(--hyperlink-color);
}

figcaption a { /* hyperlinks within figcaption */
    color: var(--primary-color);
}

blockquote { /* encloses a quotation */
    padding: 16px;
    font-size: var(--normal-font-size);
    line-height: var(--golden-ratio);
    color: var(--secondary-color);
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    border-left: 4px solid;
    border-image: linear-gradient(to bottom, var(--logo-color), var(--hyperlink-color)) 10%;
    background-color: var(--tertiary-color);
    border-radius: 0 var(--standard-radius) var(--standard-radius) 0;
}

/* || BODY */

body { /* contains main and footer */
    margin: 0; /* override default margins */
    background-color: var(--body-background-color);
    font-family: Liberation Sans, sans-serif; /* set the font and the fallback font */
    font-size: var(--small-font-size);
}

/* || BODY >> MAIN */

main { /* contains #side-container and #content-container */
    display: flex;
    justify-content: center;
}

/* || BODY >> MAIN >> ASIDE */

aside { /* contains a #logo-container and .sidebar-block elements */
    padding-top: 16px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    min-width: 200px;
}

@media only screen and (max-width: 1080px) {
    aside { /* hide when screen width <= 1080px */
        display: none;
    }
}

/* || BODY >> MAIN >> ASIDE >> LOGO CONTAINER */

#logo-container { /* hyperlink wrapping #logo and #wordmark */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

#logo line { /* lines of logo svg */
    stroke: var(--logo-color);
}

#logo circle { /* points of logo svg */
    fill: var(--logo-color);
}

#wordmark { /* contains website name as text content and .wordmark-big span elements */
    color: var(--wordmark-color);
    font-family: TeX Gyre Pagella, sans-serif;
    font-size: var(--wordmark-letter-font-size);
    text-align: center;
}

.wordmark-big { /* span element with larger text */
    font-size: var(--wordmark-big-letter-font-size);
}

/* || BODY >> MAIN >> ASIDE >> SIDEBAR BLOCK */

.sidebar-block { /* contains .sidebar-section elements */
    background-color: var(--primary-color);
    padding: 16px 8px 16px 24px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 0 var(--standard-radius) var(--standard-radius) 0;
}

@media only screen and (min-width: 1500px) {
    .sidebar-block {
        border-radius: var(--standard-radius);
        margin-left: 16px;
    }
}

.sidebar-section { /* contains .sidebar-link hyperlinks */
    display: flex;
    flex-direction: column;
}

.sidebar-section a { /* hyperlinks within .sidebar-block elements */
    line-height: 24px;
    width: fit-content;
}

/* || BODY >> MAIN >> CONTENT CONTAINER */

#content-container { /* contains #search-container and #content */
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
}

/* || BODY >> MAIN >> CONTENT CONTAINER >> TOP NAVIGATION */

#top-navigation { /* contains #link-menu and #search */
    position: relative;
    display: flex;
    justify-content: right;
}

@media only screen and (max-width: 1080px) {
    #top-navigation {
        justify-content: space-between;
    }
}

/* || BODY >> MAIN >> CONTENT CONTAINER >> TOP NAVIGATION >> LINK MENU */

#link-menu {
    display: flex;
    gap: 8px;
    align-items: center;
}

#mobile-menu {
    width: 48px;
    height: 48px;
    padding: 14px 12px 14px 12px;
    border: 0;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--body-background-color);
    display: none;
}

@media only screen and (max-width: 1080px) {
    #mobile-menu {
        display: flex;
    }
}

.mobile-menu-bar {
    background-color: var(--primary-color);
    height: 1px;
    width: 24px;
}

#mobile-menu-dropdown {
    position: absolute;
    top: 48px;
    left: 0;
    border-right: 1px solid var(--hyperlink-color);
    border-bottom: 1px solid var(--hyperlink-color);
    z-index: 1;
}

#mobile-menu-dropdown .sidebar-block {
    width: 184px;
    margin: 0;
    padding-right: 8px;
    border-radius: 0;
}

#top-navigation-logo-container {
    display: none;
    align-items: center;
    gap: 4px;
    text-decoration: none;
}

@media only screen and (max-width: 1080px) {
    #top-navigation-logo-container {
        display: flex;
    }
}

#top-navigation-logo line { /* lines of logo svg */
    stroke: var(--logo-color);
}

#top-navigation-logo circle { /* points of logo svg */
    fill: var(--logo-color);
}

#top-navigation-wordmark { /* contains website name as text content and .wordmark-big span elements */
    color: var(--wordmark-color);
    font-family: TeX Gyre Pagella, sans-serif;
    font-size: calc(var(--wordmark-letter-font-size) - 6px);
    text-align: center;
    padding-bottom: 3px;
}

@media only screen and (max-width: 540px) {
    #top-navigation-wordmark {
        display: none;
    }
}

.top-navigation-wordmark-big { /* span element with larger text */
    font-size: calc(var(--wordmark-big-letter-font-size) - 6px);
}

/* || BODY >> MAIN >> CONTENT CONTAINER >> TOP NAVIGATION >> SEARCH */

#search { /* contains #search-field and its label, #go-button, and #search-results */
    margin: 8px 12px 8px 0;
    display: flex;
}

#search-field { /* dynamically styled text input used for searching */
    width: var(--search-field-width);
    height: 32px;
    border: 1px solid var(--hyperlink-color);
    padding: 0 16px 0 16px;
    font-family: Liberation Sans, sans-serif;
    font-size: var(--small-font-size);
    background: none;
    color: var(--primary-color);
    transition: background-color 0.3s ease; /* ease into background color changes */
    border-radius: 0;
}

#search-field:focus { /* styles applied to #search-field when it receives focus (gets selected by the user) */
    outline: none; /* override default outline that appears on focus */
    background-color: var(--hyperlink-transparent-color); /* brighten the background color */
}

#go-button {
    background-color: var(--body-background-color);
    color: var(--primary-color);
    border: 0;
    padding: 0;
    margin: 0;
    border-top: 1px solid var(--hyperlink-color);
    border-right: 1px solid var(--hyperlink-color);
    border-bottom: 1px solid var(--hyperlink-color);
    font-size: var(--small-font-size);
    font-family: Liberation Sans, sans-serif;
    width: 32px;
    height: 32px;
    transition: background-color 0.3s ease; /* ease into background color changes */
}

#go-button:hover {
    background-color: var(--hyperlink-transparent-color);
}

#search-results { /* contains .search-result hyperlinks */
    width: var(--search-field-width);
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
}

.search-result { /* dynamically created hyperlinks resulting from a search */
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px 0 20px;
    z-index: 1; /* display in front of other elements */
    border-left: 1px solid var(--hyperlink-color);
    border-right: 1px solid var(--hyperlink-color);
}

.search-result:last-of-type { /* styles applied to last .search-result sibling */
    border-bottom: 1px solid var(--hyperlink-color); /* close the border around the .search-result hyperlinks */
}

.search-result:hover { /* styles applied to .search-result hyperlinks when hovered over */
    background-color: var(--hover-color); /* darken the background color */
    text-decoration: none; /* override general hyperlink underline */
}

/* || BODY >> MAIN >> CONTENT CONTAINER >> ARTICLE */

article { /* contains the main content of a webpage */
    background-color: var(--primary-color);
    padding: 24px;
    border-radius: var(--standard-radius) 0 0 var(--standard-radius);
    height: 100%;
}

@media only screen and (min-width: 1500px) {
    article {
        border-radius: var(--standard-radius);
    }
}

@media only screen and (max-width: 1080px) {
    article { /* remove rounded left corners when screen width <= 1080px */
        border-radius: 0;
    }
}

@media only screen and (max-width: 480px) {
    article {
        padding: 12px;
    }
}

/* || BODY >> MAIN >> CONTENT CONTAINER >> CONTENT >> ENTRY NAVIGATION */

.entry-navigation { /* contains .preventry-button and .nextentry-button elements */
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.nextentry-button, .preventry-button { /* hyperlink wrapping a triangle and .entry-button-description element */
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 8px;
}

.entry-button-description { /* contains the title of the previous or next entry as text content, dynamically created */
    color: var(--hyperlink-color);
}

.preventry-triangle, .nextentry-triangle { /* triangle-shaped div */
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.preventry-triangle { /* triangle-shaped div pointing to the left */
    border-right: 10px solid var(--hyperlink-color);
}

.nextentry-triangle { /* triangle-shaped div pointing to the right */
    border-left: 10px solid var(--hyperlink-color);
}

/* || BODY >> MAIN >> CONTENT CONTAINER >> CONTENT >> LIST OF CONTENTS */

#list-of-contents { /* contains .list-of-contents-link hyperlinks */
    background-color: var(--tertiary-color);
    display: inline-block;
    padding: 16px;
    min-width: 200px;
    border-radius: var(--standard-radius);
}

.list-of-contents-link { /* dynamically generated hyperlinks associated with h2 section headings */
    display: block;
    line-height: 24px;
}

/* || BODY >> MAIN >> CONTENT CONTAINER >> CONTENT >> MATH BLOCKS */

.math-definition, .math-notice { /* contains math-related text content and mathematical expressions */
    font-size: var(--normal-font-size);
    line-height: var(--golden-ratio);
    padding: 16px;
    margin: 16px 0 16px 0;
    border-radius: var(--standard-radius);
    overflow-x: scroll;
}

.math-definition { /* .math-definition elements are blue */
    background-color: var(--math-definition-background-color);
    border: 1px solid var(--hyperlink-color);
}

.math-notice { /* .math-notice elements are yellow */
    background-color: var(--math-notice-background-color);
    border: 1px solid var(--wordmark-color);
}

/* || BODY >> MAIN >> CONTENT CONTAINER >> CONTENT >> TABLES */

table { /* contains tr (table row) elements which further contain th (header cell) and td (data cell) elements */
    font-size: var(--normal-font-size);
    line-height: var(--golden-ratio);
    display: block;
    border-collapse: collapse;
    overflow-x: scroll;
}

th, td { /* header cells and data cells */
    min-width: 64px;
    padding: 8px;
    text-align: center;
    border: 1px solid var(--secondary-color);
}

th { /* header cells */
    background-color: var(--hyperlink-color);
    color: var(--primary-color);
    white-space: nowrap;
}

td { /* data cells */
    background-color: var(--math-definition-background-color);
}

/* || BODY >> MAIN >> CONTENT CONTAINER >> CONTENT >> CODE BLOCKS */

.code-block { /* preformatted block of text representing computer code */
    padding: 16px;
    font-size: var(--normal-font-size);
    line-height: var(--golden-ratio);
    color: var(--primary-color);
    display: block;
    background-color: var(--code-block-background-color);
    font-family: monospace;
    margin: 0;
    overflow-x: scroll;
}

.code-comment { /* span element with yellow text */
    color: var(--code-block-comment-color);
}

.code-inline { /* span element styled to look like computer code */
    padding: 2px;
    color: var(--secondary-color);
    background-color: var(--code-inline-background-color);
    border: 1px solid var(--code-inline-border-color);
    font-size: var(--normal-font-size);
    line-height: var(--golden-ratio);
    font-family: monospace;
    white-space: nowrap;
    margin: 0;
}

/* || BODY >> MAIN >> CONTENT CONTAINER >> CONTENT >> ENTRY NAVBOX CONTAINER */

#entry-navbox-container { /* contains .entry-navbox elements */
    display: flex;
    flex-direction: column;
    width: 100%;
    border-right: 1px solid var(--hyperlink-color);
    border-left: 1px solid var(--hyperlink-color);
    border-bottom: 1px solid var(--hyperlink-color);
}

.entry-navbox { /* contains an .entry-navbox-title element and an .entry-navbox-link-container element */
    display: flex;
    border-top: 1px solid var(--hyperlink-color);
}

@media only screen and (max-width: 480px) {
    .entry-navbox {
        flex-direction: column;
    }
}

.entry-navbox-title { /* contains the title of a group of entries as text content */
    font-weight: bold;
    padding: 8px;
    background-color: var(--homepage-news-block-background-color);
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--hyperlink-color);
    min-width: 150px;
}

@media only screen and (max-width: 480px) {
    .entry-navbox-title {
        border: none;
        border-bottom: 1px solid var(--hyperlink-color);
    }
}

.entry-navbox-link-container { /* contains .entry-navbox-link hyperlinks */
    margin: 0;
    padding: 8px;
}

#entry-navbox-container a { /* hyperlink within #entry-navbox-container */
    line-height: var(--golden-ratio);
    white-space: nowrap;
}

/* || BODY >> MAIN >> CONTENT CONTAINER >> CONTENT >> HOMEPAGE BLOCKS */

#homepage-header { /* contains a #homepage-header-title, a #homepage-header-subtitle, and a #homepage-header-statistic */
    display: flex;
    flex-direction: column;
    border: 1px solid var(--hyperlink-color);
    height: 115px;
    border-radius: var(--standard-radius);
    padding: 8px 8px 8px 165px;
    margin-bottom: 8px;
    background-image: url("../images/k8.svg");
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: -40px 0;
}

@media only screen and (max-width: 660px) {
    #homepage-header { /* remove logo from background when screen width <= 660px */
        padding: 8px;
        background: none;
    }
}

@media only screen and (max-width: 480px) {
    #homepage-header {
        height: fit-content;
        padding: 12px;
    }
}

#homepage-header-title { /* contains website name as text content */
    font-size: var(--homepage-header-title-font-size);
}

#homepage-header-subtitle { /* contains website subtitle as text content */
    font-size: var(--homepage-header-subtitle-font-size);
}

#homepage-header-title, #homepage-header-subtitle {
    padding-bottom: 8px;
}

@media only screen and (max-width: 660px) {
    #homepage-header-title, #homepage-header-subtitle { /* center main page block titles when screen width <= 660px */
        text-align: center;
    }
}

#homepage-header-statistic { /* contains the total number of entries as text content (not dynamically generated) */
    display: flex;
    justify-content: right;
    align-items: end;
    font-size: var(--small-font-size);
    height: 100%;
}

#homepage-news-block-container { /* contains .homepage-news-block-left and .homepage-news-block-right elements */
    display: flex;
    gap: 8px;
}

@media only screen and (max-width: 850px) {
    #homepage-news-block-container { /* stack .homepage-news-block elements vertically */
        flex-wrap: wrap;
    }
}

.homepage-news-block { /* contains h1 elements and section elements */
    border: 1px solid var(--hyperlink-color);
    border-radius: var(--standard-radius);
    flex-grow: 3;
    flex-basis: 380px;
}

.homepage-news-block:last-of-type { /* styles applied to the rightmost .homepage-news-block element */
    flex-grow: 1;
    flex-basis: 310px;
}

.homepage-news-block h1 { /* contains, as text content, the title of the section that follows it */
    margin: 0;
    font-weight: bold;
    font-size: var(--homepage-news-block-h1-font-size);
    padding: 16px;
    background-color: var(--homepage-news-block-background-color);
    border-bottom: 1px solid var(--hyperlink-color);
}

.homepage-news-block h1:first-of-type { /* styles applied to the top h1 element in a .homepage-news-block */
    border-radius: 9px 9px 0 0; /* round the top corners */
}

.homepage-news-block section { /* contains text content relating to news about the website */
    overflow: hidden;
    padding: 16px;
    border-bottom: 1px solid var(--hyperlink-color);
}

.homepage-news-block section:last-of-type { /* styles applied to the bottom section element in a .homepage-news-block */
    border-radius: 0 0 var(--standard-radius) var(--standard-radius); /* round the bottom corners */
    border-bottom: none;
}

.homepage-news-block h2 {
    font-size: var(--homepage-news-block-h2-font-size);
}

#read-more-button { /* hyperlink to featured entry page */
    border: 1px solid var(--hyperlink-color);
    padding: 8px;
    margin: 0 8px 8px 0;
    border-radius: var(--standard-radius);
    color: var(--hyperlink-color);
    display: inline-block;
    font-size: var(--normal-font-size);
    line-height: var(--golden-ratio);
    float: right;
}

#read-more-button:hover { /* styles applied to the .read-more-button hyperlink when hovered over */
    text-decoration: none;
    background-color: var(--read-more-button-hover-color);
}

/* || BODY >> MAIN >> CONTENT CONTAINER >> CONTENT >> JOURNAL BLOCKS */

#journal-statistic-total-entries {
    font-size: var(--small-font-size);
    text-align: center;
    padding: 8px;
    margin-bottom: 16px;
}

.journal-block {
    border: 1px solid var(--hyperlink-color);
    border-radius: var(--standard-radius);
}

.journal-block:not(:last-of-type) {
    margin-bottom: 8px;
}

.journal-block-title-container {
    background-color: var(--homepage-news-block-background-color);
    border-bottom: 1px solid var(--hyperlink-color);
    border-radius: var(--inner-radius) var(--inner-radius) 0 0;
    display: flex;
    justify-content: space-between;
}

.journal-block-title {
    font-size: var(--journal-block-title-font-size);
    font-weight: bold;
    padding: 16px;
}

.journal-block-title-statistic {
    font-size: var(--journal-block-statistic-font-size);
    display: flex;
    align-items: flex-end;
    padding: 8px;
}

.journal-block-link-container {
    margin: 0;
    padding: 16px 16px 16px 48px;
    border-radius: 0 0 var(--standard-radius) var(--standard-radius);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 8px;
}

.journal-block-link {
    font-size: var(--journal-block-link-font-size);
    width: fit-content;
    line-height: var(--golden-ratio);
    white-space: nowrap;
}

/* || BODY >> FOOTER */

footer { /* contains copyright notice consisting of an external hyperlink to my personal website */
    padding: 24px;
    color: var(--minor-text-color);
    text-align: right;
}

footer a { /* hyperlinks within footer */
    color: var(--minor-text-color); /* override general hyperlink color */
}

/* || UTILITIES */

.hidden {
    display: none;
}

.left-floated {
    float: left;
    margin-right: 16px;
}

.right-floated {
    float: right;
    margin-left: 16px;
}

@media only screen and (max-width: 660px) {
    .left-floated, .right-floated { /* center floated elements when screen width <= 660px */
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

.left-aligned {
    text-align: left;
}

.center-aligned {
    text-align: center;
}

.current-entry-navlink {
    font-weight: bold;
    color: var(--secondary-color);
}

.current-entry-navlink:hover {
    text-decoration: none;
}

.donation-type:hover {
    color: var(--donation-color);
}

.search-keyword {
    display: none;
}

.playing-card-red {
    color: red;
}

.playing-card-black {
    color: black;
}

/* || TYPOGRAPHY */

@font-face { /* normal text font */
    font-family: Liberation Sans;
    src: url(../fonts/LiberationSans-Regular.ttf);
}

@font-face { /* wordmark font */
    font-family: TeX Gyre Pagella;
    src: url(../fonts/texgyrepagella-regular.otf);
}

/* || VARIABLES */

:root {
    --body-background-color: #19404b;
    --minor-text-color: #c6c6c6;
    --hyperlink-color: #1390a1;
    --hyperlink-transparent-color: #1390a17f;
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --tertiary-color: #e8e8e8;
    --hover-color: #cfe9ec;
    --logo-color: #b8860b;
    --wordmark-color: #daa520;
    --invisible-color: #00000000;
    --code-block-background-color: #1c3c3d;
    --code-block-comment-color: #ffff00;
    --code-inline-background-color: #dbe4e5;
    --code-inline-border-color: #97a2a2;
    --math-definition-background-color: #cce8ec;
    --math-notice-background-color: #fffac9;
    --homepage-news-block-background-color: #cfe9ec;
    --read-more-button-hover-color: #e5f5f7;
    --donation-color: #e01067;

    --h1-font-size: 40px;
    --h2-font-size: 24px;
    --h3-font-size: 22px;
    --normal-font-size: 20px;
    --small-font-size: 16px;
    --wordmark-letter-font-size: 22px;
    --wordmark-big-letter-font-size: 26px;
    --search-field-width: 268px;
    --golden-ratio: 1.61803;
    --standard-radius: 10px;
    --inner-radius: 9px;
    --homepage-header-title-font-size: 30px;
    --homepage-header-subtitle-font-size: 22px;
    --homepage-news-block-h1-font-size: 26px;
    --homepage-news-block-h2-font-size: 22px;
    --journal-block-title-font-size: 26px;
    --journal-block-statistic-font-size: 16px;
    --journal-block-link-font-size: 20px;
}

@media only screen and (max-width: 480px) { /* for smartphones */
    :root {
        --search-field-width: 168px;
        --h1-font-size: 30px;
        --h2-font-size: 22px;
        --h3-font-size: 20px;
        --normal-font-size: 18px;
        --homepage-header-title-font-size: 28px;
        --homepage-header-subtitle-font-size: 20px;
        --homepage-news-block-h1-font-size: 24px;
        --homepage-news-block-h2-font-size: 20px;
        --journal-block-title-font-size: 24px;
        --journal-block-link-font-size: 18px;
    }
}