html {
    /* Mobile: Hides horizontal overflow so there's no swiping left and right away from the page */
    overflow-x: hidden;
    /* Mobile: Maintains font-size whether in landscape or portrait mode but still allows zoom in/out */
    -webkit-text-size-adjust: 100%;
}

/* Get the font and style the body element */

@font-face {
    font-family: Liberation Sans;
    src: url(../fonts/LiberationSans-Regular.ttf);
}

@font-face {
    font-family: TeX Gyre Pagella;
    src: url(../fonts/texgyrepagella-regular.otf);
}

body {
    margin: 0;
    font-family: Liberation Sans, sans-serif;
    background-color: #16202f;
    font-size: 16px;
}

/* Style the header, footer, and navbar */

footer {
    height: 100px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b2c41;
    box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.5);
}

.footer-link, .footer-link:hover {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1b2c41;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

#wordmark-container {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    margin-left: 16px;
}

#wordmark {
    font-size: 26px;
    width: 200px;
    padding-top: 5px;
    font-family: TeX Gyre Pagella, sans-serif;
}

#search-container {
    display: flex;
    margin: 0 16px 0 16px;
    width: 100%;
}

#search-field {
    width: 100%;
    height: 28px;
    border: 4px solid white;
    padding: 0 16px 0 16px;
    font-family: Liberation Sans, sans-serif;
    font-size: 16px;
}

#search-field:focus {
    outline: none;
    border-color: #1390a1;
    border-image: linear-gradient(to right, darkgoldenrod, #1390a1) 10%;
}

.search-result {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0 20px 0 20px;
}

.search-result:hover {
    background-color: #1390a1;
    text-decoration: none;
    color: white;
}

#search-results {
    width: calc(100% - 248px);
    position: fixed;
    top: 43px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

/* Style the main element, content-container, and page-title */

#side-container {
    flex-shrink: 0;
    width: 200px;
    margin: 16px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.sidebar-block {
    background-color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.sidebar-link {
    line-height: 24px;
}

#logo-container {
    height: 150px;
    display: flex;
    justify-content: center;
}

#logo:hover line {
    stroke: gold;
}

#logo:hover circle {
    fill: gold;
}

#logo {
    stroke: darkgoldenrod;
}

#logo circle {
    fill: darkgoldenrod;
}

main {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#content-container {
    margin-right: 16px;
    width: 100%;
}

#content {
    background-color: white;
    padding: 16px 16px 16px 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

#page-title {
    margin-bottom: 32px;
}

#title-box {
    padding-bottom: 16px;
}

hr {
    border: 0;
    height: 4px;
    background: linear-gradient(to right, darkgoldenrod, #1390a1, rgb(0, 0, 0, 0));
}

figure {
    background: linear-gradient(to bottom right, darkgoldenrod, #1390a1);
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin: 16px;
    max-width: 256px;
}

.right-floated {
    float: right;
}

.left-floated {
    float: left;
}

.news-size {
    max-width: 150px;
}

figcaption {
    color: white;
    padding: 4px;
    line-height: 1.61803;
}

.basic-image {
    background-color: white;
}

blockquote {
    padding: 16px;
    font-size: 20px;
    line-height: 1.61803;
    color: black;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    border-left: 4px solid;
    border-image: linear-gradient(to bottom, darkgoldenrod, #1390a1) 10%;
    background-color: #e8e8e8;
}

.code-block {
    padding: 16px;
    font-size: 20px;
    line-height: 1.61803;
    color: white;
    display: block;
    background-color: #1c3c3d;
    font-family: monospace;
    margin: 0;
}

.code-comment {
    color: yellow;
}

.code-inline {
    padding: 2px;
    border: 1px solid #97a2a2;
    font-size: 20px;
    line-height: 1.61803;
    color: black;
    background-color: #dbe4e5;
    font-family: monospace;
    margin: 0;
}

#list-of-contents {
    background-color: #e8e8e8;
    display: inline-block;
    padding: 16px;
}

.list-of-contents-link {
    display: block;
    line-height: 24px;
}

.math-definition, .math-notice {
    font-size: 20px;
    line-height: 1.61803;
    padding: 16px;
    margin: 16px;
}

.math-definition {
    background-color: #cce8ec;
}

.math-notice {
    background-color: #fffac9;
}

table {
    font-size: 20px;
    line-height: 1.61803;
    display: block;
    border-collapse: collapse;
    overflow-x: scroll;
}

th, td {
    min-width: 64px;
    padding: 8px;
    text-align: center;
    border: 2px solid black;
}

td {
    background-color: #cce8ec;
}

.argument-cell {
    text-align: left;
}

th {
    background-color: #1390a1;
    color: white;
    white-space: nowrap;
}

ol {
    font-size: 20px;
    line-height: 1.61803;
}

.main-page-block {
    border: 4px solid;
    border-image: linear-gradient(to bottom right, darkgoldenrod, #1390a1) 10%;
    padding: 16px;
    margin-bottom: 8px;
}

.main-page-block-title {
    font-size: 30px;
    padding-bottom: 8px;
}

.main-page-block-subtitle {
    font-size: 22px;
    padding-bottom: 8px;
}

.main-page-block-statistic {
    font-size: 16px;
}

.news-block-container {
    display: flex;
}

.news-block-left, .news-block-right {
    width: 100%;
    border: 4px solid;
    border-image: linear-gradient(to bottom right, darkgoldenrod, #1390a1) 10%;
}

.news-block-left {
    margin-right: 4px;
}

.news-block-right {
    margin-left: 4px;
}

.news-block-title {
    background-color: #e8e8e8;
    font-weight: bold;
    font-size: 26px;
    padding: 16px;
}

.news-block-entry {
    margin: 0 8px 0 8px;
}

/* Style text elements */

h1 {
    font-size: 2.5em;
    margin: 0.5em 0 0.5em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.8em 0 0.8em 0;
}

h3 {
    font-size: 1.25em;
}

p, ul {
    color: black;
    font-size: 20px;
    line-height: 1.61803;
    margin: 0.9em 0 0.9em 0;
}

a {
    color: #1390a1;
    text-decoration: none;
}

a:not([href]), a:not([href]):hover {
    color: #c70000;
}

a:hover {
    color: darkgoldenrod;
    text-decoration: underline;
}

.donation-type:hover {
    color: #e01067;
}

.donation-type {
    display: none;
}

.search-keyword {
    display: none;
}

.journal-link-container {
    display: flex;
    flex-wrap: wrap;
}

.journal-link {
    width: calc(100% / 5);
    font-size: 20px;
    line-height: 1.61803;
    border-radius: 8px;
}

#wordmark a {
    color: goldenrod;
    text-decoration: none;
}

#wordmark a:hover {
    color: gold;
    text-decoration: none;
}

.volunteer-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.volunteer-card {
    background-color: black;
    width: 256px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin: 4px;
    align-items: center;
}

.volunteer-image {
    margin: 16px;
    width: 148px;
    box-sizing: border-box;
}

.volunteer-name {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.volunteer-description {
    font-style: italic;
    color: white;
    margin: 0;
    padding-bottom: 16px;
}

.volunteer-content {
    color: white;
    margin: 0 16px 0 16px;
    padding-bottom: 16px;
}

.centered {
    text-align: center;
}

.playing-card-red {
    color: red;
}

.playing-card-black {
    color: black;
}

/* Adjust styles for smaller screens */

@media only screen and (max-width: 1384px) {
    .journal-link {
        width: calc(100% / 4);
    }
}

@media only screen and (max-width: 1168px) {
    .journal-link {
        width: calc(100% / 3);
    }
}

@media only screen and (max-width: 676px) {
    .journal-link {
        width: calc(100% / 2);
    }
}

@media only screen and (max-width: 1080px) {
    #side-container {
        display: none;
    }

    #content-container {
        margin-right: 0;
    }
}

@media only screen and (max-width: 660px) {
    .right-floated, .left-floated {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        flex-direction: column;
    }

    main {
        margin-top: 86px;
    }

    #search-results {
        top: 86px;
        width: 100%;
    }

    .news-block-container {
        flex-wrap: wrap;
    }

    .news-block-left, .news-block-right {
        margin: 0 0 8px;
    }
}